body,
p {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-style: italic;
  color: dimgrey;
  text-align: center;
}
.grid-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px 450px 150px;
  grid-template-areas:
    'header header'
    'section sidebar'
    'footer footer';
  border-collapse: collapse;
}

header {
  grid-area: header;
  background-color: dodgerblue;
}

section {
  grid-area: section;
  background-color: aquamarine;
}

aside {
  grid-area: sidebar;
  background-color: bisque;
}

footer {
  grid-area: footer;
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: space-evenly;
}

.caixa-1,
.caixa-2,
.caixa-3 {
  width: 25%;
  background-color: lightpink;
}

.caixa-2 {
  width: 50%;
  margin: 0 2px;
}

.caixa-3 {
  margin: 0;
}
