<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (article) {%>
    <h1><%= article.title %></h1>
    <p><%= article.description %></p>
    <% } else { %>
    <h2>Artigo não encontrado!</h2>
    <%}%> <%- include('../layout/footer.ejs') %>
  </body>
</html>
